.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}

.header-show {
  top: 0;
}

.header-hide {
  top: -80px; /* adjust according to header height */
}

.no-hover:hover {
  background-color: inherit !important;
  color: inherit !important;
  border-color: rgba(209, 220, 231, 0) !important;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
